<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
<nav th:replace="~{/fragments/header}"></nav>
</header>

    <div class="container">
        <div class="card">
            <div class="header">
                <h1>Welcome, <span th:text="${user.firstName + ' ' + user.lastName}"></span>!</h1>
            </div>
            <div class="user-info">
                <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                <p><strong>Faculty:</strong> <span>Faculty of Telecommunications</span></p>
                <p><strong>Speciality:</strong> <span>Telecommunications</span></p>
                <p><strong>Faculty Number:</strong> <span>111219041</span></p>
                <p><strong>Group:</strong> <span>49</span></p>
            </div>
        </div>
    </div>
    </body>
</html>