<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>

</header>

<div class="login-container">
    <form class="login-form" th:method="post"
          th:action="@{/}">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" th:value="${username}" name="username"
                   placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" th:value="${password}" name="password"
                   placeholder="Enter your password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>




