<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link rel="stylesheet" href="/css/view-grades.css">
</head>
<body>
<header>
    <nav th:replace="~{/fragments/header}"></nav>
</header>
<h1>Subjects for <span th:text="${student.firstName + ' ' + student.lastName}"></span></h1>

<table th:action="@{/students/subjects}">
    <tr>
        <th>Subject</th>
        <th>Passed</th>
    </tr>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.name}"></td>
        <td><span id="pass" th:if="${subject.passed}">&#10003;</span>
            <span id="fail" th:unless="${subject.passed}">&#10007;</span></td>
    </tr>
</table>
</body>
</html>
